data/_pres.dtd

<!ELEMENT presentation (title, author*, copyright?, comments?, slide+) >
<!ELEMENT title (#PCDATA) >
<!ELEMENT author (#PCDATA) >
<!ELEMENT copyright (#PCDATA) >
<!ELEMENT comments (#PCDATA) >
<!ELEMENT slide (#PCDATA) >

<!ATTLIST presentation type CDATA "generic" >
<!ATTLIST presentation created CDATA #REQUIRED >
<!ATTLIST presentation modified CDATA #REQUIRED >
<!ATTLIST presentation id ID #REQUIRED >
<!ATTLIST author type (words|music|both) "both" >
<!ATTLIST slide title CDATA #IMPLIED >
